@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
h1{

	text-align: center;
	color: #66FCF1;
	font-size: 3em;
	font-family: 'Lato', sans-serif;
}
body {
	background-color: #0B0C10;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}
.main-contain{
	display: flex;
	flex-direction: column;
	align-items: center;
}
button{
	height: 70px;
	width: 180px;
	padding: 10px;
	margin: 30px;
	background-color: #0B0C10;
	color: C5C6C7;
	border: 2px solid #45A293;
	text-transform: uppercase;
	transition-duration: 0.3s;
	font-size: 1em;
	font-family: 'Lato', sans-serif;
}
.btn:hover {
	background-color: #45A293;	
	color: #0B0C10;
}
@media only screen and (max-width: 400px) {
	body {
		background-color: red;
	}	
}
