@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');
body{
	display: flex;
	flex-direction: column;
	background-color: #0B0C10;
	height: 90%;
	align-items: center;
	
}
#main-container{
	display: flex;
	flex-direction: column;
	align-items: center;
}
.row button{
	width: 200px;
	height: 150px;
	border: 2px solid black;
	margin: 10px;
	background-color: #0B0C10;
	border: 2px solid #45A293;
	border-radius: 2em;
}
.row {
	display:flex;
	justify-content: space-between;
}
img{
	position:relative;
	z-index:-1;
}
#restart {
	font-family: 'Lato', sans-serif;
	font-size: 1em;
	padding: 20px;
	height: 70px;
	width: 180px;
	background-color: #0B0C10;
	color: C5C6C7;
	border: 2px solid #45A293;
	margin: 20px;
	transition-duration: 0.3s;
	text-transform: uppercase;
	
}
#restart:hover {
	background-color: #45A293;	
	color: #0B0C10;
}
label {
	font-family: 'Lato', sans-serif;
	background-color: #0B0C10;
	color: #39FF14;
	//border: 2px solid #45A293;
	margin: 30px;
	font-size: 2em;
}
@media only screen and (max-width: 540px)
{
	.row button {
		height: 120px;
		width: 150px;
		border-radius: 1.5em;
	}
	img {
		height: 100px;

	}
}
@media only screen and (max-width: 420px)
{
	.row button {
		height: 100px;
		width: 120px;
		border-radius: 1.5em;
	}
	img {
		height: 90px;

	}
}
@media only screen and (max-width: 380px)
{
	.row button {
		height: 90px;
		width: 100px;
		border-radius: 1.5em;
	}
	img {
		height: 80px;

	}
}

@media only screen and (max-width: 330px)
{
	.row button {
		height: 90px;
		width: 90px;
		border-radius: 1.5em;
		margin: 5px;
	}
	img {
		height: 70px;

	}
}